<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Favourite</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="navcart()">
                <ion-icon name="cart"></ion-icon>
                <ion-badge class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div *ngIf="!isFavourite()">
        <h3>Wish List is empty!</h3>
    </div>
    <ion-card *ngFor="let favouriteItem of favouriteItems">
        <ion-list>
            <ion-item>
                <ion-thumbnail item-left>
                    <img src={{favouriteItem.pictures}}>
                </ion-thumbnail>
                <p class="heading">{{favouriteItem.title}}</p>
                <p>{{favouriteItem.body}}</p>
                <button class="add" ion-button (click)="buyNow(favouriteItem.id)">
                    <ion-icon name="cart"></ion-icon>
                    &nbsp; Buy Now
                </button>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
