page-favourite {
  h3 {
    font-size: 2.2rem;
    text-align: center;
    color: $primary
  }

  ion-label {
    white-space: normal;
  }
  .heading {
    font-size: 15px;
    font-weight: 700;
    color: $grey;
  }
  .item-md ion-thumbnail img {
    height: 5em;
    width: 5em;
  }
  .add {
    float: right;
    background-color: $primary;
    border-radius: 0px;
    box-shadow: none;
  }
}
