<ion-header>
  <ion-navbar>
      <ion-title>Menu Items</ion-title>
      <ion-buttons end>
        <button ion-button icon-only color="royal" (click)="navcart()">
          <ion-icon name="cart"></ion-icon>
          <ion-badge class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let menuItem of menuItems"><!-- list -->
    <ion-item text-wrap (click)="navigate(menuItem.values.menu_id.value)"><!-- item -->
      <ion-row class="catagory"><!-- row -->
        <ion-col width-20 ><!-- col with 50  width -->
          <img src="http://aljedad.com/sforder/assets/images/thumbnail/{{menuItem.values.menu_thumb.value}}" alt="{{menuItem.values.menu_name.value}}"/>
        </ion-col>
        <ion-col><!-- col with 50% width -->
          <p class="item-name">{{menuItem.values.menu_name.value}}</p>
          <p class="item-detail" text-wrap><span class="">{{menuItem.values.menu_description.value}}</span></p>
          <p class="item-detail">Price:
    <span  class="item-price">{{menuItem.values.menu_price.value | trunc }}  QR</span>
    <!-- <span *ngIf="menuItem.offer" class="item-price">${{}}</span> -->
          </p>
        </ion-col>
      </ion-row><!--end row -->
    </ion-item><!-- item -->
  </ion-list>
</ion-content>
