page-cart {
  .price-details {
    display: flex;
    width: 97%;
  }
button{
  font-family: 'pdfintextpro' !important;
}
  .cart-list {
    background-color: #FFFFE0;
    margin-bottom: -12px !important;
    .cart-item {
      background-color: #FFFFE0;
      .close-btn {
        top: 33%;
        left: -32%;
        color: $dark-grey !important;
      }
      img {
        width: 130px;
        
      }
      .item-name {
        font-weight: 700;
        font-size: 17px;
      }
      .item-detail {
        font-size: 13px;
        line-height: 1.3em;
        white-space: initial !important;
      }
      .item-option-detail {
        font-size: 12px;
        line-height: 1.3em;
        white-space: initial !important;
      }
      .item-price {
        font-weight: 700;
        color: $dark;
      }
    }
  }
  .calculate {
    margin: 0 4px;
    .bill-detail {
      color: rgb(102, 102, 102) !important;
      padding: 10px 3px 0px 2px;
      font-size: 14px;
      font-weight: 400;
      span {
        float: right;
      }
    }
    .cart-total {
      font-size: 1.2em;
      padding: 7px 0px;
      color: #666;
      span {
        float: right;
        font-weight: 700;
        color: $dark
      }
    }
  }
  .continue-btn {
    background-color: $primary !important;
    color: $dark;
    padding: 22.5px;
    box-shadow: none;
    ion-icon {
      padding-right: 10px;
    }
  }
  .count {
    padding: 15px 0px 16px 0px;
    .item-count {
      padding: 1.5px 9px;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      background-color: $grey;
    }
    .show-count {
      background-color: $primary !important;
      color: $dark;
    }
  }
  .add-heading {
    padding: 1.3rem;
    margin: 0;
    background-color: $primary;
    color: $dark;
  }
  .alert-button {
    color: $dark !important;
  }
}