<ion-header>
   <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Cart</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal">
                <ion-icon name="cart"></ion-icon>
                <ion-badge class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <div>
        <ion-list class="cart-list" *ngFor="let cartItem of cartItems"><!-- item-list -->
            <ion-item class="cart-item"><!-- item -->
                <ion-row>
                    <ion-col col-2><!-- col-cancel  button -->
                        <ion-icon class="close-btn" ion-button icon only clear ios="ios-close-circle"
                                  md="md-close-circle"
                                   (click)="deleteItem(cartItem)">
                        </ion-icon>
                    </ion-col>
                    <ion-col><!-- col-for item-image and details -->
                        <ion-row>
                            <ion-col col-4><!-- item-image -->
                                <img src="http://aljedad.com/sforder/assets/images/thumbnail/{{cartItem.thumb}}" alt="">
                            </ion-col>
                            <ion-col col-6>
                                <p><span class="item-detail"> {{cartItem.Quantity}} x </span> 
                                   <span class="item-name"> {{ cartItem.name }} </span>                                 
                                </p>
                                <!--<p class="item-price"> {{cartItem.price | trunc}} QR </p>-->

                            <div  *ngFor="let option of cartItem.extraOption"> 
                            <p class="item-option-detail">+ {{option.name}} - {{option.price}}QR 
                                <span class="option-delete" (click)="deleteOptionItem(option)"> <strong>x</strong> </span> </p>
                            </div>   
                                <ion-row><!-- row-for count item -->

                                    <div class="count">
                                        <span class="item-count" (click)="remove(cartItem)"> - </span>
                                        <span class="item-count show-count"> {{cartItem.Quantity}}</span>
                                        <span class="item-count" (click)="add(cartItem)"> + </span>
                                    </div>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-item>
        </ion-list>
        <ion-row class="price-details">
            <ion-col class="calculate">
                <p class="bill-detail">Subtotal <span> {{SubTotalPrice}} QR</span></p>
              
                <!--<p class="bill-detail">Other Taxes (3%)
                    <span>{{otherTaxes | number}} QR</span></p>-->
                <hr>
                <p class="cart-total"><strong>Order Total </strong><span class="price">{{GrandTotal}} QR</span>
                </p>
            </ion-col>
        </ion-row><!-- row-bill-deatails -->
        <!-- Comments -->
     <form (ngSubmit)="onCart()" >        
        <ion-row>
             <ion-label  class="add-heading">
                <ion-icon ios="ios-chatbubbles" md="md-chatbubbles"></ion-icon>
                &nbsp;&nbsp;Instructions / Comments 
            </ion-label>
            <ion-item class="sub-address" >
                    <ion-textarea rows="3" [(ngModel)]="cartData.comments" [ngModelOptions]="{standalone: true}" placeholder="Special instructions/comments" name="comments" id="comments"
                                  ></ion-textarea>
                </ion-item>
        </ion-row>    
    

        <!-- continue button -->
        <ion-row>
            <ion-col>
                <button ion-button block type="submit" class="continue-btn" >Continue</button>
            </ion-col>
        </ion-row>
         </form>
    </div>
</ion-content>
