// Add own customize SCSS Code ( please note following Point)
// If you have any Universal changes throughout the APPS add css code in app.scss file.
// If there any page style changes you needed update there SCSS file.
// If you need to override any code property you need to Mention !important with each property .
// ----------------------------------------------------------------------------------------------
//Write all IOS Custom code Here
.ios {}

.md {
  //Write all Android Custom code Here
  .alert-wrapper {
    background: $dark !important;
  }
  .alert-button {
    color: white !important;
  }
  .alert-radio-group {
    border-top: 1px solid $primary !important;
    border-bottom: 1px solid $primary !important;
  }
  .alert-title {
    color: white;
  }
  .alert-radio-label {
    color: #fff !important;
  }
  .alert-radio-icon {
    border-color:$primary !important;
}
  .alert-radio-inner{
    background: $primary !important;
  }
  .alert-message, .alert-sub-title{
    color: #fff !important;
  }
  

}