// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$primary: #fecc27;
$secondary: #4a4a49;
$danger: #f53d3d;
$light: #f4f4f4;
$dark: #222;
$white: #fff;
$grey: #777;
$light-grey: #ccc;
$dark-grey:#424242;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$loading-md-background: rgba(0, 0, 0, .6);
$loading-md-text-color: #fff;
$loading-md-spinner-color: #fecc27;
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
@import "custom";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
$ionicons-font-path: "../assets/fonts";
@import "ionic.ionicons";
@font-face {
    font-family: 'something_in_the_air';
    src: url('../assets/fonts/Something_in_the_air.ttf');
    src: url('../assets/fonts/Something_in_the_air.ttf?#iefix') format('embedded-opentype'), url('../assets/fonts/Something_in_the_air.ttf') format('woff'), url('../assets/fonts/Something_in_the_air.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'SkolaSans';
    src: url('../assets/fonts/SkolaSansCn-Bold.otf');
    src: url('../assets/fonts/SkolaSansCn-Bold.otf?#iefix') format('embedded-opentype'), url('../assets/fonts/SkolaSansCn-Bold.otf') format('woff'), url('../assets/fonts/SkolaSansCn-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'lazing';
    src: url('../assets/fonts/lazing_on_a_sunny_afternoon.ttf');
    src: url('../assets/fonts/lazing_on_a_sunny_afternoon.ttf?#iefix') format('embedded-opentype'), url('../assets/fonts/lazing_on_a_sunny_afternoon.ttf') format('woff'), url('../assets/fonts/lazing_on_a_sunny_afternoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'pdfintextpro';
    src: url('../assets/fonts/pfdintextpro-regular-webfont.woff');
    src: url('../assets/fonts/pfdintextpro-regular-webfont.woff?#iefix') format('embedded-opentype'), url('../assets/fonts/pfdintextpro-regular-webfont.woff') format('woff'), url('../assets/fonts/pfdintextpro-regular-webfont.woff') format('truetype');
    font-weight: normal;
    font-style: normal
}

body {
    font-family: 'SkolaSans', sans-serif !important;
  }
p {
    font-family: 'SkolaSans', sans-serif !important;
}