page-checkout {
  font-family: 'SkolaSansCn' ;  
   ::-wekit-input-placeholder {
    color: $white !important;
  }
  .list .item-block .item-inner {
    border-color: rgba(256, 256, 256, .05);
  }
  .list .item-input:last-child {
    border-bottom: 1px solid;
    border-color: rgba(255, 255, 255, 0.05);
  }
  .text-input {
    color: $white !important;
  }
  .no-padd {
    padding: 0px
  }
  .item-radio-checked {
    color: $primary;
  }
  .ion-label {
    color: $primary;
  }
  .ordertype-block {
    .radio-checked {
      border-color: $primary;
      .radio-inner {
        background: $primary;
      }
    }
      .item-radio-checked ion-label{
        color: $primary !important;
       }
  }
  .payment-block {
     .radio-checked {
      border-color: $dark;
      .radio-inner {
        background: $dark;
      }
    }
    .item-radio-checked ion-label {
      color:$dark !important;
    }
  }
  .card-detail p {
    color: #fff;
  }
  .nodelivery {
    text-decoration: line-through;
  }
  .price-col {
    .nodelivery {
      text-decoration: line-through;
    }
    .total {
      font-size: 22px;
      font-style: bold;
    }
    background: $primary;
    color:$dark;
    border-color:$dark;
    ion-label {
      color: $dark;
      font-size: 14px;
    }
  }
  ion-label input:checked {
    color: $primary;
  }
  .item {
    color: $white;
    background-color: $primary;
  }
  .checkOut .card-btn,
  page-checkout .checkOut .checkOut-btn :hover {
    font-family: 'pdintextpro' !important;
    background-color: $white;
    color: $white;
    border: 1px solid $light-grey;
    margin: 0.4rem 0rem;
  }
  .ordertype-block {
    margin-bottom: 0px;
    background: #000;
    span {
      color: $white;
      font-size: 12px;
    }
  }
  .date-icon {
    position: absolute;
    top: 60px;
    left: 138px;
    color: $light-grey;
    z-index: -111;
  }
  .checkOut {
    background: url('../assets/img/bg.jpg') no-repeat center;
    background-size: cover;
    .address-header {
    font-family: 'something_in_the_air' !important;
    text-transform: uppercase;
      font-size: 22px;
      color: $white;
      text-align: center;
      color: $white;
      margin-bottom: 1.5rem;
    }
    .payment-header {
      @extend .address-header;
    }
    .add-heading {
      padding: 1.3rem;
      margin: 0;
      background-color: $primary;
      color: $dark;
    }
    .sub-address {
    
      background-color: rgba(0, 0, 0, 0.5);
      color: $white;
      border-right: 1px solid;
      border-left: 1px solid;
      border-color: rgba(256, 256, 256, .05);
      padding-left: 0 !important;
      text-indent: 7px;
    
    }
    .sub-address ion-input {
      font-family: 'pdintextpro' !important;
      font-size: 18px;
    }
    .col-cod {
      padding-left: 0 !important;
    }
    .cod-btn {
      width: 100%;
      border-radius: 0;
      background-color: $white;
      color: black;
      height: 5.2rem;
      border: 1px solid $light-grey;
    }
    .col-cart {
      padding-right: 0 !important;
    }
    .card-descrip p{
      background: rgba(0, 0, 0, 0.5);
      padding: 1em;
      font-size: 14px !important;
      line-height: 22px !important;
      display:inline-block;
      text-align: center;
    }
    .card-btn {
      @extend .cod-btn;
      background-color: $primary;
      color: $white;
      border: 0;
      .check {
        font-size: 1.6rem;
      }
    }
    .checkOut-btn {
      @extend .card-btn;
      margin-top: 2em;
      height: 4.9rem;
    }
    .card-list {
      .card-detail {
        background: transparent;
        padding: 0px;
        padding: 0px;
        .item-inner {
          padding-right: 0px;
          .label {
            margin: 0px;
            .card-item {
              background-color: rgba(0, 0, 0, 0.5);
              border: 1px solid;
              border-color: rgba(256, 256, 256, 0.4);
            }
          }
        }
      }
    }
  }
  .list {
    width: 100%;
  }
  .cvv {
    border-top: 0px !important;
    border-bottom: 0px !important;
    border-right: 0px !important;
  }
  .date {
    border-top: 0px !important;
    border-bottom: 0px !important;
  }
  
}
