page-product-details {
  .slider {
    img-loader {
      width: 100% !important;
      height: 200px !important;
    }
  }
  .text-over-image {
    color: $white;
    font-size: 18px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    width: 100%;
    margin: -55px 0px 0px 0px;
  }
  .productImage {
    max-height: 300px;
    min-height: 250px;
  }
  .prod-price {
    font-weight: 700;
    color: $primary;
  }
  .item.item-block .item-inner {
    padding-right: 5px;
    border-bottom: 0px;
  }
  .menu-item {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: relative;
    width: 100%;
    margin: -54px 0px 0px 0px;
    text-align: center;
    font-size: 18px;
    .item-name {
      color: #fff;
      font-family: 'SkolaSansCn' !important;      
    }
    .item-price{
      font-family: 'SkolaSansCn' !important;      
      
    }
  }
  .count {
    padding: 10px 0px;
    margin: 0px;
    .item-count {
      padding: 11.5px 20px;
      font-size: 20px;
      font-weight: 700;
      color: #000;
      background-color: #777;
    }
    .show-count {
      background-color: $primary !important;
    }
  }
  .label {
    margin: 0px 0px 0px 0;
   
  }
  ion-list-header{
    font-family: 'something_in_the_air';
    text-transform: uppercase !important;
    font-size: 16px;
  }
  .btn-add-to-cart {
    font-family: 'pdfintextpro' !important;
    background-color: $primary !important;
    color: $dark;
    padding: 22.2px;
    box-shadow: none;
    font-size: 15px;
    margin: 0px;
  }
  .header {
      color: $white;
      background-color: $grey;
      margin: 0;
    }
  .extra-list {
    margin: -1px 4px 16px 4px;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    
    .toggle .toggle-checked {
      background-color: $primary;
      width: 45px;
      height: 26px;
    }
    .toggle .toggle-icon {
      width: 45px;
      height: 26px;
    }
    .toggle .toggle-inner {
      position: absolute;
      top: 1px;
      left: 3px;
      width: 22px;
      height: 22px;
      background-color: $white;
    }
  }
  .size-list {
    @extend .extra-list;
    .size-list-header {
      @extend .header;
    }
    .size-list-item {
      .checkbox .checkbox-checked {
        background-color: transparent !important;
        border: none !important;
      }
      .checkbox .checkbox-icon {
        border: none !important;
      }
      .checkbox .checkbox-checked .checkbox-inner {
        width: 10px !important;
        height: 20px !important;
        border-color: #32cd32 !important;
        border-width: 4px !important;
        border-top-width: 0 !important;
        border-left-width: 0 !important;
        border-style: solid !important;
      }
    }
  }
  .checkbox-checked+.size-list-item {
    background-color: $secondary !important;
    color: red
  }
  .fav {
    color: $danger;
    font-size: 40px;
    position: absolute;
    right: 10px;
  }
  .heart-clicked {
    color: $primary;
  }
  .item-name {
    color: $dark;
  }
  .toggle-checked .toggle-icon {
    background: #424242 !important;
  }
  .item-price {
    float: right;
  }
  .cart-options{
    font-family: 'pdintextpro' !important;
    
  }
}