<ion-header>
    <ion-navbar>
        <ion-title>{{ product.name }}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only color="royal" (click)="navcart()">
                <ion-icon name="cart"></ion-icon>
                <ion-badge class="carts" item-right color="danger">{{noOfItems}}</ion-badge>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-row class="productImage" >
        <img src="http://aljedad.com/sforder/assets/images/{{product.image}}" alt="">
        <!--<p class="text-over-image">{{product.name }} &nbsp;<span class="prod-price">
        ({{product.price | trunc }} QR)</span></p>-->
        <span clear text-center (click)="toggleFavourite()">
        <ion-icon class="fav" name="heart" *ngIf="!visible"
                  (click)="removeFromFavourite(product.id)"></ion-icon>
        <ion-icon class="fav heart-clicked" name="heart" *ngIf="visible"
                  (click)="addToFavourite(product.id)"></ion-icon>
    </span>
    </ion-row>
<!-- size and price check box -->
    <ion-row>
        <!--<ion-list-header class="size-list-header" text-center>
            Size and prices
        </ion-list-header>-->
        <ion-item class="menu-item">
            <ion-label class="item-name" col-6><strong>{{product.name}}</strong></ion-label>
            <ion-label class="item-price prod-price" col-6><strong>{{product.price | trunc}} QR</strong></ion-label>
            <!--<ion-label *ngIf="price.offerValue">{{price.name}} ${{price.offerValue}}</ion-label>-->
            <!--<ion-radio class="checked" checked (ionSelect)="sizeOptions(itemdetail_price)"></ion-radio>
            -->
        </ion-item>
    </ion-row>
    <ion-row>
        <ion-col col-6>
            <div class="count">
            <span class="item-count" (click)="remove()">
              -
            </span>
                <span class="item-count show-count">
              {{count}}
            </span>
                <span class="item-count" (click)="add()">
              +
            </span>
            </div>
        </ion-col>

        <ion-col col-6>
            <a (click)="addToCart(product.id)" ion-button icon-left full class="btn-add-to-cart">
                <ion-icon name="cart"></ion-icon>
                ADD TO CART
            </a>
        </ion-col>
    </ion-row>
   

    <ion-list class="extra-list" *ngIf="optionLength" >
        <ion-list-header class="header" text-center>Add extra choice</ion-list-header>
        <ion-item *ngFor="let option of ExtraOptions" class="list-item">
            <ion-label>{{option.name}} ({{option.price | trunc }} QR)</ion-label>
            <ion-toggle (ionChange)="checkOptions(option)"></ion-toggle>
        </ion-item>
    </ion-list>

 
    <ion-row>
        <ion-col col-6>
            <a (click)="addToCart(product.id)" ion-button icon-left full class="btn-add-to-cart">
                <ion-icon name="cart"></ion-icon>
                CHECKOUT
            </a>
        </ion-col>
        <ion-col col-6>
            <a (click)="home()" ion-button icon-left full class="btn-add-to-cart">
                <ion-icon name="basket"></ion-icon>
                KEEP SHOPPING
            </a>
        </ion-col>
    </ion-row>
</ion-content>
