page-order-details {
  .card-title{
    position: absolute;
      font-size: 2.0em;
      width: 100%;
      color: #fff;
      top: 0;
      background-color: rgba(0, 0, 0, 0.2);
      padding: 3px;
      text-align: center;
  }
   .details{
      padding:1em;
   }
   .check{
     color:$primary;
     font-weight: 700;
     font-size: 1.4em;
   }
   .data{
     color:$grey;
   }
   .amount{
     color:$dark-grey;
     font-size:2rem;
     font-weight:700;
   }
   .pay{
     @extend .data;
     font-size:12px;
   }
   .btn-add-to-cart {
   background-color: $primary !important;
   color: #fff;
   padding: 22.2px;
   box-shadow: none;
   font-size: 14px;
   margin: 0px;
   position: absolute;
   bottom: 0;
}
}
